<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!--cookie失效时间-->
    <add key="Expired" value="30"/>
    <!--cookie域名-->
    <add key="CookiesDomain" value="DSKMall.com"/>

    <!--调试用，是否记录日志-->
    <add key="IsSaveLog" value="yes"/>
    <!--调试用，日志记录路径-->
    <add key="SysLogSavePath" value="d:\ABClog"/>

    <add key="MaxReceivedMessageSize" value="10000000"/>

    <add key ="Media.MaximumImageSize" value="1280"/>

    <!--商品图片地址-->
    <add key="ProductImagePath" value="D:\DSKWeb\"/>

    <!--发送短信类别-->
    <!--All：支付成功、使用服务，Payed：仅支付成功，Used：仅使用服务，None：不发短信-->
    <add key="SendServiceSMSLevel" value="None"/>
    
    <!--短信平台供应商-->
    <add key="SMSVendor" value="HuaXing"/>

    <!--短信发送地址-->
    <add key="SMSSendAddr" value="http://www.stongnet.com/sdkhttp/sendsms.aspx"/>

    <!--短信平台登录ID-->
    <add key="SMSLoginID" value="ywvOhzt0OJoHop5E7qJfV7duzrArjkwR"/>

    <!--短信平台登录密码-->
    <add key="SMSLoginPWd" value="NhYA086uWSSM6xypatVf8A=="/>

    <!--新闻图片根目录-->
    <add key="NewsImageRoot" value="D:\DSKWeb\NewsImages\"/>

  </appSettings>
  <connectionStrings>
    <add name="default" connectionString="Data Source=192.168.5.20;Initial Catalog=DiscountInformationSystemDB;User Id=sa;Password=sa;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
