<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="owin:AutomaticAppStartup" value="false" />

    <add key="SysLogSavePath" value="D:\Financelog"/>
    <!--调试用，财务拍照存储路径-->
    <add key="TakeApictureService" value="http://10.10.30.40:7777/WebService.asmx?WSDL"/>
    <add key="UploadImageURL" value="http://10.10.30.40:7777/UploadHandler.ashx"/>
    <add key="SaveImageURL" value="http://10.10.30.40:7777/photo/"/>
    <!--投资会计每月限额-->
    <add key="Monthlylimit" value="3000"/>
    <!--账户余额缓存过期时间，以秒为单位-->
    <add key="BankCollectionTimeOut" value="10"/>

    <!--HTML TO PDF-->
    <add key="pdfConverterKey" value="GjErOigoOiM6LTQqOikrNCsoNCMjIyM="/>
    <add key="pdfMergeKey" value="GjErOigoOiM6LTQqOikrNCsoNCMjIyM="/>
    <add key="pdfSplitManagerKey" value="GjErOigoOiM6LTQqOikrNCsoNCMjIyM="/>
  </appSettings>
  <system.web>
    <!--<identity impersonate="true" userName="administrator" password="Aa123456"/>-->
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <!--传输文件的大小-->
    <httpRuntime targetFramework="4.5" maxRequestLength="204800" useFullyQualifiedRedirectUrl="true" executionTimeout="300" />

  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <!-- 防止部署iis404-->
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>


  </runtime>


  <!--报价取数，投资用 begin-->
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="BJF.Contract.IPrintExport">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://bjgc.jtgc.rx/WCF/PrintExportRef.svc/wcfPrintExportRef"
          binding="wsHttpBinding" bindingConfiguration="BJF.Contract.IPrintExport"
          contract="IPrintExport" name="BJF.Contract.IPrintExport" />
    </client>
  </system.serviceModel>
  <!--报价取数，投资用 end-->
</configuration>